<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName"
       xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire-candidates="byName" xmlns:context="http://www.springframework.org/schema/context">

    <!-- 引入资源文件 -->
    <context:property-placeholder location="classpath:hibernate.properties" />

    <import resource="classpath:applicationContext-database.xml"/>
    <import resource="classpath:applicationContext-transaction.xml"/>
    <import resource="classpath:applicationContext-service.xml"/>
    <import resource="classpath:applicationContext-security.xml"/>

    <context:annotation-config/>
    <context:component-scan base-package="com.hrin.admin.dao" />
    <context:component-scan base-package="com.hrin.admin.service" />


    <bean id="apiConfig" class="com.hrin.admin.domain.api.ApiConfig">
        <property name="baseUrl" value="${hrin.api.base.url}"></property>
    </bean>


    <!--java mail config begin-->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <!--<property name="host" value="smtp.exmail.qq.com" />-->
        <property name="host" value="smtp.163.com" />
        <property name="port" value="25" />
        <property name="username" value="djs_945@163.com"/>
        <property name="password" value="198710juan520"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
            </props>
        </property>
    </bean>


    <bean id="freeMarkerConfigurer" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/ftl/"></property>
        <property name="freemarkerSettings">
            <props>
                <prop key="template_update_delay">3600</prop>
                <prop key="tag_syntax">auto_detect</prop><!-- 设置标签类型 两种：[] 和 <> 。[] 这种标记解析要快些 -->
                <prop key="default_encoding">UTF-8</prop>
                <prop key="output_encoding">UTF-8</prop>
                <prop key="locale">zh_CN</prop>
                <prop key="date_format">yyyy-MM-dd</prop>
                <prop key="time_format">HH:mm:ss</prop>
                <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
                <prop key="number_format">#</prop><!-- 设置数字格式 以免出现 000.00 -->
                <prop key="classic_compatible">true</prop><!-- 可以满足一般需要。默认情况变量为null则替换为空字符串，如果需要自定义，写上${empty!"EmptyValue of fbysss"}的形式即可  -->
                <prop key="template_exception_handler">html_debug</prop><!-- ignore,debug,html_debug,rethrow -->
            </props>
        </property>
    </bean>
</beans>
